.pet-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: grab;
}

.pet-container:active {
  cursor: grabbing;
}

.pet-canvas {
  background: transparent;
}
